<footer class="border-top footer text-muted fj-bg-black p-2">
    
    <div class="">
        <div>
            <img class="" src="~/images/logos/fj-logo-color.svg" />
        </div>
        <div>
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Terms &amp; Conditions</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Contact</a>
        </div>
        <div>
              <div>
                <p class="fj-font-sans fw-bold fj-white">
                    all
                    illustration
                    images are
                    attributed to
                    icons8
                 </p>
                 <button href="https://icons8.com" class="fj-font-sans fw-bold fj-white fj-bg-dark-primary rounded p-1 m-1 border-0">visit icons8</button>
              </div>
              <div>
                  <img src="~/images/icons logo front view.png" />
              </div>

        </div>
    </div>
    <div class="container align-content-center">
        &copy; 2024 | Flexible Jobs | All Rights reserved | <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>