<footer class="border-top footer text-muted fj-bg-black p-2">
    
    <div class="d-flex flex-wrap align-items-center justify-content-around">
        <div>
            <img class="" src="~/images/logos/fj-logo-colour.png" />
        </div>
        <div class="fj-font-sans">
            <a class="mx-1" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a class="mx-1" asp-area="" asp-controller="Account" asp-action="login">Sign&nbsp;Up</a>
            <a class="mx-1" asp-area="" asp-controller="Home" asp-action="TermsAndConditions">Terms &amp; Conditions</a>
            <a class="mx-1" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a class="mx-1" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
        </div>
        <div class=" d-flex">
              <div class="ms-4">
                <p class="fj-font-sans fw-bold fj-white fj-btn-shadow-left p-2 fj-bg-dark-primary fj-border-full fj-width-7rem fj-radius-sm small fj-btn-shadow-left">
                    all
                    illustration
                    images are
                    attributed to
                    icons8
                 </p>
                 <button href="https://icons8.com" class="fj-font-sans fw-bold fj-white fj-bg-dark-primary rounded p-1 m-1 border-0">visit icons8</button>
              </div>
              <div class="ms-4">
                <a href="https://icons8.com/"><img src="~/images/icons logo front view.png" /></a>
              </div>

        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-around">
        <span>
            &copy; 2024 | Flexible Jobs | All Rights reserved
        </span>
    </div>
</footer>