@{
    ViewData["Title"] = "Home Page";
}
<div class="home-body-bg min-vh-100">

<partial name="_HeaderTransparentPartial">

<div class="top-section d-flex fj-font-sans justify-content-around">
            <div class="fj-bg-light-primary fj-radius-sm fj-bg-shadow-left m-4 h-fit-content">
                <p class="fj-border-bottom p-2 px-4">
                    What are you looking for ?
                </p>
                <p class="p-2 ps-4 fw-bold">
                    Make work fit your life <br/>
                    or get the right person for the job !
                </p>
                <button class="ms-4 mb-4 rounded fw-bold fj-bg-black fj-white">Sign In</button>
            </div>
            <div class="">
                <img src="~/images/man and woman at work.png"/>
            </div>
</div>
<div class="mid-section d-flex justify-content-around my-4">
    <img src="~/images/small child playing.png" />
</div>
<div class="bottom-section">
            <div class="website-copy d-flex  justify-content-center p-2">
                <div class="fj-bg-dark-primary fj-white fj-font-serif fj-radius-md fj-bg-shadow-left-primary">
            <div class="fj-border-bottom py-1">
                <br/>
            </div>
            <div class="p-4">
                        <p>
                        We offer a wide range of job
                        opportunities that cater to your needs. Whether you’re looking for part-time
                        work, remote work, or freelance work, we’ve got you covered.
                        </p>
                        <p>
                        Our job search
                        engine is easy to use and allows you to filter jobs by location, industry,
                        and more. Sign up today and start your journey towards finding the perfect
                        job!
                        </p>
                        <button class="button rounded fj-bg-black fj-white fw-bold fj-btn-border p-1 px-2">Sign Up</button>
            </div>
        </div>
    </div>
    <div class="pic-1">
        <img src="~/images/two women working with a laptop.png" />
    </div>
    <div class="pic-2">
        <img src="~/images/young man with shopping.png" />
    </div>
</div>

</div>